.box {
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.spin-x-axis {
  animation: spin 0.5s 1 forwards;
}
